@font-face {
  font-family: "PaytoneOne-Regular";
  src: url("assets/Fonts/Paytone_One/PaytoneOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans-Regular";
  src: url("assets/Fonts/Josefin_Sans/static/JosefinSans-Regular.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-title: "PaytoneOne-Regular";
  --font-family-text: "JosefinSans-Regular", sans-serif;
  --font-color: black;
  --background-gradient: linear-gradient(
    to bottom,
    #73bde6,
    #8ed6d7,
    #adeae434
  );
  --background-gradient-false: linear-gradient(to bottom, #07399c, #111111);
}

body {
  font-family: var(--font-family-title);
  min-height: 100vh;
}

.buttonDarkMode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 1020px;
}

.main {
  min-height: 1020px;
}
