@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&family=Luckiest+Guy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  --font-family: "Josefin Sans", sans-serif;
  --font-color: white;
  --background-gradient: linear-gradient(
    to bottom,
    #73bde6,
    #8ed6d7,
    #adeae434
  );
  --font-weight: 10;
  --margin-eachcontainer: 1rem;
}
