.calendarYearPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

.calendarBig {
  width: 40vw;
  height: 20vh;
}
