.navBar {
  display: flex;
  justify-content: space-between;
  gap: 11rem;
}

.navBarLinks {
  display: flex;
  flex-direction: column;
}

.navBarLink {
  font-family: var(--font-family-tilte);
  text-decoration: none;
  list-style: none;
  color: black;
}

nav a {
  text-decoration: none;
}

.logoPlanet {
  width: 8rem;
  margin: 0;
}

.blocSearch {
  padding: 2vh 3vh 2vh 3vh;
  width: 90%;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
  font-family: var(--font-family-tilte);
  font-weight: 400;
  font-size: 45px;
  text-align: center;
}

.inputCode {
  font-family: var(--font-family-text);
  width: 70%;
  height: 4vh;
  font-size: 20px;
}

.searchButton {
  font-family: var(--font-family-tilte);
  width: 20%;
  height: 4vh;
  font-size: 15px;
  margin: 1vh;
}
