img {
  size: 1.5vh;
}

.footerText {
  padding-top: 1rem;
  text-align: center;
  font-family: var(--font-family-text);
}

a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 12px;
  text-align: center;
}
