.divClass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  height: 30rem;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
