h1 {
  text-align: center;
}

.aboutUs {
  display: flex;
  justify-content: center;
  text-align: center;
}

.photo {
  width: 100%;
  padding: 3vh;
}


h4 {
  font-family: var(--font-family-text);
}

@media only screen and (min-width: 430px) {
  .aboutUs {
    display: flex;
  }

  .photo {
    width: 80%;
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Adeline, .Bastien, .Kana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h3, h4 {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

}