h1,
h3,
h4 {
  text-align: center;
}

.aboutUs {
  display: flex;
  justify-content: center;
  text-align: center;
}

.photo {
  width: 100%;
  padding: 3vh;
}

h1 {
  padding-top: 50px;
  margin: 0;
}

h4 {
  font-family: var(--font-family-text);
}

@media only screen and (max-width: 430px) {
  .aboutUs {
    flex-direction: column;
  }

  h1 {
    padding-top: 150px;
  }

  .photo {
    width: 80%;
    padding: 3vh;
  }
}
