.resultPage {
  margin: 3rem;
  padding: 2vh 3vh 2vh 3vh;
  border-radius: 2vh;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
  font-family: var(--font-family-title);
  font-size: 30px;
  text-align: center;
  margin-bottom: 4vh;
}

.results {
  font-family: var(--font-family-text);
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.holiday1 {
  background-color: #f4b942;
  width: 45%;
  padding: 3vh;
  margin: 1%;
  border: solid #f4b942;
  border-radius: 2vh;
}

.holiday2 {
  background-color: #97d8c4;
  width: 45%;
  padding: 3vh;
  margin: 1%;
  border: solid #97d8c4;
  border-radius: 2vh;
}

.holiday3 {
  background-color: #6b9ac4;
  width: 45%;
  padding: 3vh;
  margin: 1%;
  border: solid #6b9ac4;
  border-radius: 2vh;
}

@media only screen and (max-width: 430px) {
  .resultPage {
    margin: 0;
  }

  .title {
    font-size: 22px;
  }

  .holiday {
    width: 45%;
  }
  .date,
  .name {
    font-size: 16px;
  }
}
