.blocSearch {
  margin-bottom: 3vh;
  padding: 2vh 3vh 2vh 3vh;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5vh;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
  font-family: var(--font-family-title);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.country {
  width: 70%;
  height: 5vh;
  font-family: var(--font-family-text);
  font-size: 18px;
}

.search {
  width: 20%;
  height: 4vh;
  font-family: var(--font-family-text);
  font-size: 17px;
  margin: 1vh;
}
