* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  justify-content: space-between;
  gap: 11rem;
}

.navBarLinks {
  display: flex;
  flex-direction: column;
}

.navBarLink {
  text-decoration: none;
  list-style: none;
  color: black;
}

.navBarItem {
  list-style: none;
}

.logoPlanet {
  width: 8rem;
  margin: 0;
}
